.intro {
  display: flex;
  flex-flow: column wrap;
  padding-left: 11.7%;
  max-width: 830px;
}

.intro__title {
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  margin-top: 92px;
  margin-bottom: 40px;
  line-height: 58px;
}

.intro__quote {
  max-width: 738px;
  max-height: 68px;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 34px;
}

.intro__quote-cite {
  max-width: 732px;
  max-height: 34px;
  font-weight: 400;
  font-size: 24px;
  text-align: end;
  margin-top: 0;
  margin-bottom: 32px;
  line-height: 34px;
}

.intro__description {
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
    max-width: 720px;
  }

  .intro__title {
    font-size: 45px;
    margin-top: 90px;
    margin-bottom: 50px;
    line-height: 49px;
    max-width: 707px;
  }

  .intro__quote {
    margin-bottom: 0px;
    max-height: none;
  }

  .intro__quote-cite {
    max-height: 34px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    box-sizing: border-box;
    padding: 0 16px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 64px 0 40px;
    max-width: 100%;
  }

  .intro__quote {
    margin-bottom: 10px;
    line-height: 30px;
    max-width: 100%;
  }

  .intro__quote-cite {
    max-width: 100%;
  }

  .intro__description {
    max-height: 442px;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    max-width: 100%;
  }
}
